html,body{

    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

}



.container{

    width: 100vw;

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1591100975619&di=30cf23e59bcb60df4a3c6ccb79b84780&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F038349155deb2b4000001599594d6a3.jpg) fixed no-repeat;

    background-size: cover;

}



.register-form{

    width: 240px;

    height: 350px;

    display: flex;

    flex-direction: column;

    padding: 40px;

    text-align: center;

    position: relative;

    z-index: 100;

    background: inherit;

    border-radius: 18px;

    overflow: hidden;

}



.register-form::before{

    content: "";

    width: calc(100% + 20px);

    height: calc(100% + 20px);

    background: inherit;

    box-shadow: inset 0 0 0 200px rgba(255,255,255,.25);

    position: absolute;

    top: -10px;

    left: -10px;

    z-index: -1;

    filter: blur(6px);

    overflow: hidden;

}



.register-form h2{

    font-size: 18px;

    font-weight: 400;

    color: #3d5245;

}



.register-form input, .register-form button{

    margin: 6px 0;

    height: 36px;

    border: none;

    background: rgba(255,255,255,.3);

    border-radius: 4px;

    padding: 0 14px;

    color: #3d5245;

}



.register-form input::placeholder{

    color: #333;

}



.register-form button{

    margin-top: 24px;

    color: white;

    position: relative;

    overflow: hidden;

    cursor: pointer;

    transition: .4s;

}



.register-form button:hover{

    background:rgba(22, 160, 133,.3);

}



.register-form button::before, .register-form button::after{

    content: "";

    display: block;

    width: 80px;

    height: 100%;

    background:rgba(26, 188, 156,.8);

    opacity: .8;

    position: absolute;

    left: 0;

    top: 0;

    transform: skewX(-15deg);

    filter: blur(30px);

    overflow: hidden;

    transform: translateX(-100px);

}



.register-form button::after {

    width: 40px;

    background: rgba(46, 204, 113,.8);

    left: 60px;

    filter: blur(5px);

    opacity: 0;

}



.register-form button:hover::before {

    transition: 1s;

    transform: translateX(320px);

    opacity: .8;

}



.register-form button:hover::after {

    transition: 1s;

    transform: translateX(320px);

    opacity: .8;

}

